In [1]:
#Continuous variable to categorical variable in python.ipynb

In [2]:
import pandas as pd

In [3]:
pip install scipy

Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (1.9.1)
Requirement already satisfied: numpy<1.25.0,>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from scipy) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
dataset = pd.read_csv("Student-Mental-health (1).csv")

In [5]:
dataset.head()

,Timestamp,Choose your gender,Age,Age category,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,08-07-20 12:02,Female,18.0,young,Engineering,year 1,Average,No,Yes,No,Yes,No
1,08-07-20 12:04,Male,21.0,Middle age,Islamic education,year 2,Average,No,No,Yes,No,No
2,08-07-20 12:05,Male,19.0,Middle age,BIT,Year 1,Average,No,Yes,Yes,Yes,No
3,08-07-20 12:06,Female,22.0,Middle age,Laws,year 3,Average,Yes,Yes,No,No,No
4,08-07-20 12:13,Male,23.0,Middle age,Mathemathics,year 4,Average,No,No,No,No,No

In [6]:
dataset.tail()

,Timestamp,Choose your gender,Age,Age category,What is your course?,Your current year of Study,CGPA Category,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
96,13-07-20 19:56,Female,21.0,Middle age,BCS,year 1,Excellent,No,No,Yes,No,No
97,13-07-20 21:21,Male,18.0,young,Engineering,Year 2,Average,No,Yes,Yes,No,No
98,13-07-20 21:22,Female,19.0,Middle age,Nursing,Year 3,Excellent,Yes,Yes,No,Yes,No
99,13-07-20 21:23,Female,23.0,Middle age,Pendidikan Islam,year 4,Excellent,No,No,No,No,No
100,18-07-20 20:16,Male,20.0,Middle age,Biomedical science,Year 2,Average,No,No,No,No,No

In [7]:
dataset.Age.head(25)

0     18.0
1     21.0
2     19.0
3     22.0
4     23.0
5     19.0
6     23.0
7     18.0
8     19.0
9     18.0
10    20.0
11    24.0
12    18.0
13    19.0
14    18.0
15    24.0
16    24.0
17    24.0
18    20.0
19    18.0
20    19.0
21    18.0
22    24.0
23    24.0
24    23.0
Name: Age, dtype: float64

In [8]:
pd.cut(dataset.Age, bins=[0, 17, 18, 65], labels=["Adolescents","Adults", "Older adults"]).head(100)

0           Adults
1     Older adults
2     Older adults
3     Older adults
4     Older adults
          ...
95          Adults
96    Older adults
97          Adults
98    Older adults
99    Older adults
Name: Age, Length: 100, dtype: category
Categories (3, object): ['Adolescents' < 'Adults' < 'Older adults']

In [9]:
pd.cut(dataset.Age, bins=[0, 17, 18, 65], labels=["Adolescents","Adults", "Older adults"])

0            Adults
1      Older adults
2      Older adults
3      Older adults
4      Older adults
           ...
96     Older adults
97           Adults
98     Older adults
99     Older adults
100    Older adults
Name: Age, Length: 101, dtype: category
Categories (3, object): ['Adolescents' < 'Adults' < 'Older adults']